<p />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-bar-chart"></i>
            <span>MSE</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Asset Info new</span>
        </li>
    </ul>
</div>
<p />
<div class="row">
    <div class="col-md-12">
        <div class="portlet box purple">
            <div class="portlet-title sbold">
                <div class="caption">Asset Info Entry</div>
            </div>
            <div class="portlet-body">
                <form name="frm" novalidate>
                    <div class="row">
                        <div class="form-body">
                            <div class="col-md-3">
                                <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Program Name">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" id="txtFocus" class="form-control" placeholder="Asset Number" name="AssetNumber" ng-model="entity.AssetNumber" maxlength="51" ng-maxlength="50" required autofocus>
                                       
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Tag Line">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Serial Number" name="SerialNumber" ng-model="entity.SerialNumber" maxlength="51" ng-maxlength="50" required>
                                       
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3" >
                                <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Tag Line">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Distributor Id" name="DistributorId" ng-model="entity.DistributorId" maxlength="51" ng-maxlength="50" required>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Tag Line">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Distributor Name" name="DistributorName" ng-model="entity.DistributorName" maxlength="51" ng-maxlength="50" required>
                                       
                                    </div>
                                    <!--<span class="help-block" style="display: block;" ng-if="frm.DistributorName.$error.required && frm.DistributorName.$touched">Serial Number is required</span>-->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Tag Line">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="AIC Name" name="AICName" ng-model="entity.AICName" maxlength="51" ng-maxlength="50" required>
                                        
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Tag Line">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="ASM Name" name="ASMName" ng-model="entity.ASMName" maxlength="51" ng-maxlength="50" required>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Tag Line">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="MDO Id" name="MDOId" ng-model="entity.MDOId" maxlength="51" ng-maxlength="50" required>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Tag Line">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="MDO Name" name="MDOName" ng-model="entity.MDOName" maxlength="51" ng-maxlength="50" required>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Tag Line">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Outlet Id" name="OutletId" ng-model="entity.OutletId" maxlength="51" ng-maxlength="50" required>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Tag Line">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Outlet Name" name="OutletName" ng-model="entity.OutletName" maxlength="51" ng-maxlength="50" required>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Tag Line">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Outlet Address" name="OutletAddress" ng-model="entity.OutletAddress" maxlength="51" ng-maxlength="50" required>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Tag Line">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Contact No" name="ContactNo" ng-model="entity.ContactNo" maxlength="51" ng-maxlength="50" required>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Tag Line">
                                    <div class="input-group" style="width: 100%;">
                                        <input type="text" class="form-control" placeholder="Cooler Model" name="CoolerModel" ng-model="entity.CoolerModel" maxlength="51" ng-maxlength="50" required>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-actions" style="margin-top: 10px; margin-left: 10px; " block-ui="entryBlock">
                                <button type="submit" class="btn btn-lg btn-success box-shadow--8dp" style="min-width:90px !important; margin-right: 10px; margin-bottom: 5px" ng-click="post('save')">Submit</button>
                                 <button type="button" class="btn btn-lg btn-danger box-shadow--8dp" style="min-width:90px !important; margin-right: 10px; margin-bottom: 5px" ng-show="entity.Id > 0" ng-click="post('delete')">Delete</button>
                                <button type="button" class="btn btn-lg btn-default box-shadow--8dp" style="min-width:90px !important; margin-bottom: 5px" ng-click="resetForm()">Reset</button>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet box purple">
            <div class="portlet-title sbold">
                <div class="caption">Asset Info List</div>
            </div>
           
            <div class="portlet-body">
                <div style="display: flex; gap: 10px; justify-content: center;flex-wrap:wrap">
                    <div>
                        <input type="text" ng-model="search.AssetNumber" class="form-control" placeholder="AssetNumber" />
                    </div>
                    <div>
                        <input type="text" ng-model="search.DistributorName" class="form-control" placeholder="DistributorName" />
                    </div>
                    <div>
                        <input type="text" ng-model="search.DistributorId" class="form-control" placeholder="DistributorId" />
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success box-shadow--8dp" style="min-width:90px !important; margin-right: 10px; margin-bottom: 5px" ng-click="Search()">Search</button>
                        <button type="button" class="btn btn-default box-shadow--8dp" style="min-width:90px !important; margin-bottom: 5px" ng-click="Clear()">Clear</button>
                    </div>

                </div>
                <div class="tbl-outer" style="margin-top:10px">
                    <table class="responstable table-hover">
                        <tbody>
                            <tr class="t-head" style="font-size: 14px !important">
                                <th class="sbold">#</th>
                                <th class="sbold text-center">Asset Number</th>
                                <th class="sbold text-center">Serial Number</th>
                                <th class="sbold text-center">Distributor Id</th>
                                <th class="sbold text-center">Distributor</th>
                                <th class="sbold text-center">AIC Name</th>
                                <th class="sbold text-center">ASM Name</th>
                                <th class="sbold text-center">MDO Id</th>
                                <th class="sbold text-center">MDO Name</th>
                                <th class="sbold text-center">Outlet Id</th>
                                <th class="sbold text-center">Outlet Name</th>
                                <th class="sbold text-center">Outlet Address</th>
                                <th class="sbold text-center">Contact No</th>
                                <th class="sbold text-center">Cooler</th>
                                <th class="sbold text-center">Status</th>
                            </tr>
                            <tr dir-paginate="item in entityListPaged | filter:q | itemsPerPage: PerPage" current-page="currentPage" total-items="total_count" ng-click="rowClick(item)" ng-class="{ 'rowSelected' : entity.Id === item.Id}">
                                <td class="text-center">{{$index + ((currentPage-1)*PerPage) + 1}}</td>
                                <td class="text-center"> {{item.AssetNumber}} </td>
                                <td class="text-center"> {{item.SerialNumber}} </td>
                                <td class="text-center"> {{item.DistributorId}} </td>
                                <td class="text-center"> {{item.DistributorName}} </td>
                                <td class="text-center"> {{item.AICName}} </td>
                                <td class="text-center"> {{item.ASMName}} </td>
                                <td class="text-center"> {{item.MDOId}} </td>
                                <td class="text-center"> {{item.MDOName}} </td>
                                <td class="text-center"> {{item.OutletId}} </td>
                                <td class="text-center"> {{item.OutletName}} </td>
                                <td class="text-center"> {{item.OutletAddress}} </td>
                                <td class="text-center"> {{item.ContactNo}} </td>
                                <td class="text-center"> {{item.CoolerModel}} </td>
                                <td class="text-center"> {{item.IsCancelled ? 'Inactive' : 'Active' }} </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row pagination-control" ng-show="total_count>PerPage">
                        <span style="display: inline-block; vertical-align: middle; margin-top: -7px; font-weight: bold;">
                            <dir-pagination-controls max-size="8"
                                                     direction-links="true"
                                                     boundary-links="true"
                                                     on-page-change="GetPaged(newPageNumber)" style="text-align:center; margin-top:0px !important">
                            </dir-pagination-controls>
                        </span>
                    </div>
                    <div class="row pagination-footer">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <input class="input-pagesize" type="number" min="1" max="100" ng-model="PerPage"> <span>Records Per Page</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <span class="pull-right">Showing {{((currentPage-1)*PerPage)+1}} to {{((currentPage-1)*PerPage)+entityListPaged.length}} of {{total_count}} Records</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>